[user]
  email = stefanrimola@gmail.com
  name = Stefan Rimola
[core]
  excludesfile = /Users/srimola13/.gitignore_global
  editor = vim
  autocrlf = input
  pager = less
[push]
  default = matching
[merge]
  ff = true
[color]
  ui = auto
[help]
  autocorrect = 35
[pager]
  branch = false
